@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
* {
    margin: 0px;
    padding: 0px;

}

body{
    width: 500px;
    height: 2900px;
    font-family: Inter;
}
.container{
  position: relative;
}

.layer_base2{
  position: relative;
  justify-content: center;
  background-image: url(../img/layer-base2.png);
  width: 1350px;
  height: 900px;
  /* object-fit: cover; */
  z-index: -1;
}

.layer-base2 h1{
  text-align: center;
  margin: auto;
  font-family: Inter;
  display: flex;
  padding-top: 400px;
  weight: 1053px;
  height: 77px;
}

.layer_front{
  position: absolute;
  background-image: url(img/layer-front.png);
  left: 50px;
  /* z-index: 5; */
}
  

.layer_middle{
  position: absolute;
  background-image: url(img/layer-middle.png);
  right: 50px;
  /* z-index: 10; */
}



  
=====================================




  
  