@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Passion+One&family=Poppins&display=swap');

/*Jumbotron*/
.container-jumbotron{
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../asset/img/pfg-header.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.h1-jumbotron h1{
    font-family: 'Passion One', cursive;
    font-size: 100px;
    color: #303030;
}

.p-jumbotron p{
    font-family: 'Poppins', sans-serif;
    color: #0F2233;
    width: 900px;
    font-size: 18px;
}

.btn-jumbotron{
    color: #D9D9D9;
}

.submit{
    border-radius: 50px;
    border: none;
    width: 408px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #8D9AA2;
    margin-top: 100px;
}

/*Content*/
.container-content{
    width: 100%;
    margin: auto;
}

/*Content 1*/
.container-content .card-one {
    background-color: #5E3838;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 982px;
    /*padding-top: 50px;
    padding-bottom: 50px;*/
}

.pict-card-one {
    text-align: center; 
}

.pict-card-one img {
    width: 550px;
    height: 285px;
    display: block;
    margin: 0 auto; 
}

.text-card-one {
    text-align: center; 
    margin-top: 10px;
    width: 1000px;
}

.text-card-one p {
    color: #DCDC7E;
    font-size: 18px;
    padding-top: 25px;
    font-family: 'Inter Tight', sans-serif;
}

/*Content 2*/
.card-two{
    
}